body {
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    background-color: lightgreen;
}

.nav {
    text-align: center;
    border-style:double;
    background-color: lightblue;
    justify-content: center;
    margin: auto;
    width:50%;
    border-radius: 15px;
}

.center {
    width: center;
    margin: 0px;
}

.container {
    margin: auto;
    text-align: center;
    background-color: lightblue;
    width: 50%;
    border-style: solid;
    border-radius: 15px;
}
iframe {
    max-width:100%;
    max-height:100%;
}
img {
    max-width:100%;
    max-height:100%;
  }

.contact {
    margin: auto;
    text-align: center;
    width: 50%;
    border-style:double;
    background-color: lightblue;
    height: 100px;
    border-radius: 15px;
}